<div>
  <img src="http://placehold.it/820x230" class="product-detail-img">
  <div>
    <!--<h4>{{product.price}}元</h4>-->
    <!--<h4>{{product.title}}</h4>-->
    <!--<p>{{product.desc}}</p>-->
    <h4>{{product?.price}}元</h4>
    <h4>{{product?.title}}</h4>
    <p>{{product?.desc}}</p>
  </div>
  <div>
    <!--<p>{{comments.length}}</p>-->
    <p>{{comments?.length}}</p>
    <p>
      <!--<app-stars [rating]="product.rating"></app-stars>-->
      <app-stars [rating]="product?.rating"></app-stars>
    </p>
  </div>
</div>
<!--关注商品-->
<div class="watchProduct">
  <button class="btn btn-lg" [class.active]="isWatched"
  (click)="watchProduct()">
    {{isWatched?'取消关注':'关注'}}
  </button>
  <label>最新价格:{{currentBid}}元</label>
</div>
<!--发表评论-->
<div>
  <div>
    <button class="btn btn-success" (click)="isCommentHidden = !isCommentHidden">发表评论</button>
  </div>
  <div [hidden]="isCommentHidden">
    <!--<app-stars [(rating)]="newRating" [readonly]="false"></app-stars>-->
    <app-stars [(rating)]="newRating" [readonly]="false"></app-stars>
    <div>
      <textarea [(ngModel)]="newComment"></textarea>
    </div>
    <div>
      <button class="btn" (click)="addComment()">提交</button>
    </div>
  </div>
  <!--<div class="row" *ngFor="let comment of comments">-->
  <div class="row" *ngFor="let comment of comments">
    <hr>
    <div class="commentsProduct">
      <app-stars [rating]="comment.rating"></app-stars>
      <span>{{comment.user}}</span>
      <span class="float-right">{{comment.timesstamp}}</span>
      <hr>
      <p>{{comment.content}}</p>
    </div>
  </div>
</div>
