.product-detail-img{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.commentsProduct{
  margin: 20px 5px;
  background: antiquewhite;
  width: 100%;
}
.watchProduct{
  margin-bottom: 20px;
  margin-top: 20px;
}
