<div class="row">
  <div *ngFor="let product of products" class="col-md-6 col-lg-6 product-card">
    <div class="card">
      <img class="card-img" [src]="imgUrl" alt="商品">
      <div class="figure-caption">
        <span class="h3"><a [routerLink]="['/product',product.id]">{{product.title}}</a></span>
        <span class="float-right h5"><a>{{product.price}}</a></span>
        <p class="card-body">{{product.desc}}</p>
      </div>
      <div>
        <app-stars [rating]="product.rating"></app-stars>
      </div>
    </div>
  </div>
</div>
